<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<>, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <style>@import url('https://fonts.googleapis.com/css?family=Rokkitt');</style>
</head>
<body>
<header>
   <div id="webapp">
    <h1>Weather App</h1>
    </div>
</header>

    
    <form action="weather" class="form">
        <input type="text" id="texto" name="texto" placeholder="Escreva o seu local aqui!"/>
        <button type="submit" id="botao" value=""> Pesquisar</button>
         
          
    </form>

    <div id="favoritos">

 {{!--       <button id="favoritos" value="" onclick="favs()"> Favoritos</button>

      <form action="local">
        <select id="adicionarFavorito" name="local">
            <option value="">Choose a favorite</option>
          </select>
</form> --}}


 <div >
              <p id="shooping-list-text">Nenhum texto Adicionado</p>
              <ul class="list-group" id="shopping-list">
              </ul>
            </div>

            <form>
  <div class="form-group">
            <button type="submit" id="sub" class="btn btn-primary">Adicionar</button>
            <button type="reset" id="clean"  class="btn btn-secondary">Limpar lista</button>
        </div>
      </form>
    </div>
    
    


    


<div class="container">
  <div class="data">{{data}}</div>
  <div class="morada">{{morada}}</div>
</div>


<div id="temperatura">
    The temperature is {{temperaturaMax}} ºC, and it feels like {{temperaturaMaxAp}} ºC
</div>

<div id="precipitacao">
The precipitation is {{precipitacao}}
</div>

<div id="humidade">
The humidity is {{humidade}}
</div>

<div id="vento">
    The wind's velocity is {{vento}}
</div>

<div id="icon">
<img src="./public/icons/{{icon}}.png" alt="{{summary}}" width="100%" height="100%">
</div>


</div>

{{!-- 
<script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script>

      var meusFavs =[];
      var meusFavs_string = localStorage.gettexto('favorito');
            
        if(meusFavs_string) {
          meusFavs = JSON.parse(meusFavs_string);
           
         }

    function favs(){

    var newPlace=true;


    for( var i =0; i<meuFavs.length+1;i++){
      if(meusFavs[i]=='{{address}}'){
        meusFavs.splice(i,1);
        newPlace=false;
        break;
  }
}

if(newPlace){
  meusFavs.push(('{{address}}'));

}

localStorage.settexto('meusFavs',JSON.stringify(meusFavs));

    }

if(meusFavs.length!=0){
  for(var j=0;j<meusFavs.length;j++){
    $('#adicionarFavorito').append(`<br><option>`+meusFavs[j]+`</option>`);
    
}
    

</script> --}}
 <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script>
    $(document).ready(function () {

       $("#shopping-list").hide();
       $("#texto").focus();

      /*
       * check browser supports local storage
       */
      if (localStorage) {

        var shoppingList_string = localStorage.gettexto('shoppingList');
        if (shoppingList_string) {
          $("#shooping-list-text").hide();
          $("#shopping-list").show();
          var shoppingList = JSON.parse(shoppingList_string);
          console.log(shoppingList);
          $.each(shoppingList, (index, text) => {
            $("#shopping-list").append(`<li class="list-group-texto">${text}</li>`);
          });
        }
        
        $("form")
          /*
           * clear local storage when the form is reseted
           */
          .on('reset', function(){
            console.log('cleaning!...');
            localStorage.clear();
            location.reload();
          })
          /*
           * add to local storage when the form is submitted
           */
           document.getElementById("sub").onclick=function(){
            var shoppingList_string = localStorage.gettexto('shoppingList');
            var shoppingList =[];


            if(shoppingList_string) {
              shoppingList = JSON.parse(shoppingList_string);
            }
            var filteredList = shoppingList.filter((x) => { 
              return x === $("#texto").val()
            });

            if(filteredList.length===0){
            shoppingList.push($("#texto").val());
            localStorage.settexto('shoppingList', JSON.stringify(shoppingList));
          }
            console.log(localStorage);
          })
    };})
    </script>
 
</body>
</html>