<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<>, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<h1>Web App</h1>

    <form action="weather">
        <input type="text" id="texto" name="texto" placeholder="Escreva o seu local aqui!"/>
        <button type="submit" value=""> Pesquisar</button>

    </form>
 

<div id="data">
    {{data}}
</div>

<div id="temperatura">
    {{temperaturaMax}} {{temperaturaMaxAp}} <br>
     {{temperaturaMin}} {{temperaturaMinAp}}


</div>

<div id="icon">
{{icon}}
</div>

<div id="percipitacao">
{{precipitacao}}
</div>

<div id="humidade">
{{humidade}}
</div>

<div id="vento">
{{vento}}
</div>


    <h1> {{texto}} </h1>


<h2> {{corpo}}</h2>


<div>


</div>



<script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script>
    $(document).ready(function () {

       $("#shopping-list").hide();
       $("#item").focus();

      /*
       * check browser supports local storage
       */
      if (localStorage) {

        var shoppingList_string = localStorage.getItem('shoppingList');
        if (shoppingList_string) {
          $("#shooping-list-text").hide();
          $("#shopping-list").show();
          var shoppingList = JSON.parse(shoppingList_string);
          console.log(shoppingList);



          $.each(shoppingList, (index, text) => {

           
            $("#shopping-list").append(`<li class="list-group-item">${text}</li>`);
          });
        
        
        }
        
        $("form")
          /*
           * clear local storage when the form is reseted
           */
          .on('reset', function(){
            console.log('cleaning!...');
            localStorage.clear();
            location.reload();
          })
          /*
           * add to local storage when the form is submitted
           */
           .submit(function(){
            var shoppingList_string = localStorage.getItem('shoppingList');
            var shoppingList =[];

            if(shoppingList_string) {
              shoppingList = JSON.parse(shoppingList_string);
            }


var filteredList= shoppingList.filter((item)=>{return item===$("#item").val();});
    if(filteredList.length===0){
      shoppingList.push($("#item").val());
      localStorage.setItem('shoppingList', JSON.stringify(shoppingList));  
    }
    
           
            console.log(localStorage);
          })
      }
    });


</body>
</html>